<div>
  <%= form_with url: user_search_path, local: true, method: :get do |f| %>
    <%= f.text_field :word, placeholder: "名前", class: 'w-5/12 p-2 bg-gray-700 text-gray-400 text-sm focus:ring-4 focus:ring-purple-400 duration-300 rounded-md placeholder-gray-400' %>
    <%= f.button :type => "submit", class: 'text-pur1' do %>
      <i class="fa-solid fa-magnifying-glass ml-2"></i>
    <% end %>
  <% end %>
</div>