<div class="container mt-5">
  <div class="row">
    <div class="col-md-11">
      <% @favorite_items.each do |item| %>
        <div>
          <%= link_to item_path(item) do %>
            <%= item.name %>
            <%= image_tag item.image.variant(resize: "300x300").processed %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>