<div class="container mt-5 mx-auto">
  <div class="grid grid-col-4">
    <div class="col-start-2 col-end-3">
      <table class="table-auto">
        <thead>
          <tr></tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td class="px-40"><%= user.name %></td>
              <td class="px-40 py-2">
                <%= link_to user_path(user) do %>
                  <span><%= image_tag user.get_profile_image(60,60), class: 'rounded-full mr-2 hover:opacity-75' %></span>
                  <span><%= user.is_deleted %></span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>