<div class="container mt-5">
  <div class="row">
    <div class="col-md-3">
      <div class="text-center">
        <%= image_tag @user.get_profile_image(200,200) %>
        <p><%= @user.name %></p>
      </div>
    </div>
    <div class="col-md-8">
      <%= render 'reviews', reviews: @reviews %>
    </div>
  </div>
</div>