#cga{
  background-image: url(../../assets/images/cga.jpg);
  height: 100vh;
}

.slidebox {
　height: 340px;
}
.slideshow {
  display: flex;
}
.content {
  width: 230px;
  height: 230px;
}

#marginclass {
  margin-right: 2.5rem;
}

.slideshow {
  display: flex;
  animation: loop-slide 55s infinite linear 0s both;
}
@keyframes loop-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.slidestop:hover .slideshow {
  animation-play-state: paused;
}