<div class="container">
  <div class="row">
    <div class="col-md-3 bg-danger">
      <div></div>
    </div>
    <div class="col-md-8">
      <div class="d-flex">
        <% @items.each do |item| %>
          <div class="mx-3">
            <%= link_to item_path(item) do %>
              <%= image_tag item.image.variant(resize: "200x200^",gravity: "center", crop: "200x200+0+0").processed %>
            <% end %>
            <p class="text-center"><%= item.name %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>