<div class="container mt-5">
  <div class="row">
    <div class="col-md-11">
      <div class="" align="center">
        <%= render 'edit_rate', review: @review %>
      </div>
    </div>
  </div>
</div>