<div class="container mt-5 mx-auto">
  <div class="grid">
    <div class="mx-auto">
      <div class="" align="center">
        <%= render 'edit_rate', review: @review %>
      </div>
    </div>
  </div>
</div>